@font-face {
    font-family: Poppins-Social-Media;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Header;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}