header{
    background: linear-gradient(90deg, #4e2c1d, #6b3f29);
    div{
        height: 100px;
        display: flex;
        h1{
            font-family: Header;
            color: #F7F7F7;
            font-size: 40px;
            margin: auto;
        }
    }
}